<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just Tech News</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Font Awesome-->
    <script
      src="https://kit.fontawesome.com/331def02d9.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Londrina+Solid&
      family=Major+Mono+Display&family=Permanent+Marker&display=swap
      &family=Bungee+Spice&family=Noto+Sans+Display"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Takes on Tech in 2</a>
          <i class="fa-solid fa-binoculars"></i>
        </h1>
        <nav>
          <a href="/login">login</a>
        </nav>
        <span>Opinions on software and tech, worth reading</span>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>
  </body>

</html>