<ul class="blog-list">
  {{#each blogPosts as | blogPost |}}
  <li>
    <article class="blog">
      <div class="blog-header">
        <a href="" target="_blank">{{blogPost.title}}</a>
        <span>Posted by {{blogPost.User.username}}</span>
      </div>
      <div class="blog-content">
        {{blogPost.content}}
      </div>
    </article>
  </li>
  {{/each}}
</ul>