<div class="login-view-container">
  <h2 class="view-title">Quick, sign-up or log-in and contribute to our
    community of passionate tech enthusiasts!
  </h2>
  <div class="forms-container">
    <div>
      <h3 class="form-title">I'm back for more!</h3>
      <form class="form login-form">
        <div class="labels-container">
          <label for="email-login">Email:</label>
          <input type="text" id="email-login" />
          <label for="password-login">Password:</label>
          <input type="password" id="password-login" />
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
    <div>
      <h3 class="form-title">Making the commitment!</h3>
      <form class="form signup-form">
        <div class="labels-container">
          <label for="username-signup">Username:</label>
          <input type="text" id="username-signup" />
          <label for="email-signup">Email:</label>
          <input type="text" id="email-signup" />
          <label for="password-signup">Password:</label>
          <input type="password" id="password-signup" />
          <button type="submit">Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{! Load the login.js file which handles signup or login}}
<script src="/javascript/login.js"></script>