:root {
  --bodybg1: #c5cbe3;
  --bodybg2: #c2cad0;
  --bodybg3: #efe2ba;
  --bodybg4: #d79922;
  --bodybg5: #d9b08c;
  --bodybg6: #ffcb9a;
  --bodybg7: #2c3531;
  --bodybg8: #ccd3c9;
  --bodybg9: #afd275;
  --h1: #f13c20;
  --h2: #4056a1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  font-family: sans-serif;
  color: black;
  background-color: var(--bodybg7);
}



.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: solid 2px pink; */
  background-color: var(--bodybg8);
}

header {
  border-bottom: 0.2em solid var(--bodybg9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  padding: 0 1%;
}

header h1 {
  font-size: 3em;
  font-family: "Londrina Solid", cursive;
  color: #afd275;
}

header h1 i {
  color: black;
  margin-left: 0.2em;
}

header h1 a {
  color: var(--bodybg4);
  font-weight: bold;
  transition: color 0.5s;
}

header h1 a:hover {
  color: var(--bodybg7);
}

header span {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 1.5em;
}

main {
  flex: 1;
  padding: 2% 4%;
  margin: 0.2em;
  border: solid 2px red;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

@counter-style technology-markers {

}

/* HOMEPAGE.HANDLEBARS VIEW */
.blog-list {
  margin: 0;
  padding: 0;
  list-style-type: square;
}

.blog {
  margin-bottom: 2%;
  line-height: 150%;
}

.blog-header {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
}

.blog-header a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bolder;
  font-family: 'Noto Sans Display', sans-serif;
  color:#374acf;
}

.blog-header span {
  font-size: 0.9em;
  font-style: italic;
  font-weight:700;
  color: #000;
}

.blog a {
  text-decoration: none;
  color: #374acf;
  font-weight: 500;
}

.blog-header a:visited {
  color: #37accf;
}
.blog-header a:hover {
  color: #37accf;
}
.blog a:visited {
  color: #37accf;
}
.blog-content:hover {
  /* background-color: white; */
}

/* SINGLE-BLOG-POST.HANDLEBARS VIEW */
.sb-blog {
  margin-bottom: 1em;
}

.sb-blog .sb-header {
  margin-bottom: 0.5em;
}

.sb-header .sb-title {
  font-size: 1.5em;
  font-weight: bolder;
  font-family: 'Noto Sans Display', sans-serif;
  color:#374acf;
}

.sb-header span {
  font-weight: bold;
}

.sb-header span a {
  text-decoration: none;
  color: #d79922;
  font-size: 0.9em;
  /* font-weight: normal; */
}

.sb-blog div:nth-child(2) {
  line-height: 150%;
  color: #374acf;
  font-weight: 600;
  margin-bottom: 0.9em;
}

.sb-comment-form {
  margin-bottom: 5%;
}
.sb-comment-form div:nth-child(2) {
  margin-top: 1em;
}

.sb-comment {
  padding: 1%;
  margin-bottom: 1%;
}

.sb-comment:nth-child(odd) {
  background-color: #5274a4;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}


/* LOGIN.HANDLEBARS VIEW */
.login-view-container {
  display: flex;
  flex-direction: column;
  /* border: solid 1px pink; */
}

.view-title {
  text-align: center;
  margin-bottom: 1em;
}

.forms-container {
  display: flex;
  flex-direction: column;
}

.forms-container > div {
  margin-bottom: 3em;
}

.form-title {
  text-align: center;
  color: var(--bodybg9);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px white; */
  margin-bottom: 1em;
}

.labels-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.labels-container label {
  margin: 0.8em 0 0.1em;
  color: var(--bodybg4);
  font-weight: bold;
}

.labels-container input {
  padding: 0.8em;
}

.labels-container button {
  width: 40%;
  height: 3em;
  margin-top: 0.5em;
  font-size: 1em;
  background-color:gold;
  color: #000;
}

@media screen and (min-width: 768px) {
  .forms-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .forms-container > div {
    width: 50%;
  }

}









textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}


.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}



.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}





.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}


footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  font-family: "Bungee Spice", cursive;
}
